<div class="container">
  <div class="heading-row">
    <h3 class="text-4xl font-semibold sm:text-5xl text-center">{{courseList[0].name}}</h3>
  </div>
  <div class="course-container">
    <div class="course">
      <div class="course-img">
        <img src="../../../../assets/DS-Python_small.png" alt="course-detail">
      </div>
      <div class="course-detail">
        <div class="course-timeline">
          <h3 class="text-2xl font-semibold sm:text-5xl text-left">Course Details:-</h3>
          <ul>
            <li><i class="fa fa-check" aria-hidden="true"></i>Title: {{courseList[0].name}}</li>
            <li><i class="fa fa-clock-o" aria-hidden="true"></i>Duration: 6 Months</li>
            <li><i class="fa fa-money" aria-hidden="true"></i>Fee: {{courseList[0].fee}}</li>
            <li><i class="fa fa-toggle-on" aria-hidden="true"></i>Onsite: Yes</li>
            <li><i class="fa fa-graduation-cap" aria-hidden="true"></i>Level: Institute</li>
            <li><i class="fa fa-toggle-on" aria-hidden="true"></i>Lab: Yes</li>
          </ul>
        </div>
      </div>
      <div class="course-detail">
        <div class="course-timeline">
          <h3 class="text-2xl font-semibold sm:text-5xl text-left">Course Outlines:-</h3>
          <ul>
            <li class="list">
              Looping Statement</li>
            <li class="list">
              Description
            <li class="list">
              Decision Making Statement</li>
            <li class="list">
              Introduction and Overview of {{courseList[0].name}}</li>
            <li class="list">
              Introduction and Overview of Visual Studio
            </li>
            <li class="list"> {{courseList[0].name}} Fundamentals</li>
            <li class="list">
              Object-Oriented Programming (OOP) Principles</li>
            <li class="list">
              Exception Handling</li>
            <li class="list">
              Web Services and APIs</li>
            <li class="list">
              Introduction to Entity Framework for ORM</li>
            <li class="list">
              Unit Testing in .NET</li>
          </ul>
        </div>

      </div>


    </div>

  </div>
  <div class="course-container">
    <div class="summary">
      <div class="heading-row">
        <h3 class="text-3xl font-semibold sm:text-5xl text-center">Summary</h3>
      </div>
      <div class="summary-content">
        <h3 class="text-2xl font-semibold sm:text-5xl text-left">Introduction</h3>
        <p>{{courseList[0].name}} {{courseList[0]?.courseIntroduction}}
        </p>
      </div>
      <div class="summary-content">
        <h3 class="text-2xl font-semibold sm:text-5xl text-left">Syllabus</h3>
        <p>{{courseList[0]?.syllabus}}
        </p>
      </div>
      <div class="summary-content">
        <h3 class="text-2xl font-semibold sm:text-5xl text-left">Job Opportunities after {{courseList[0]?.name}} Course
        </h3>
        <p>{{courseList[0]?.name}} is the widely used framework for website and web app development and it is very easy
          to learn and
          implement by beginners. We cover significant concepts such as Microsoft framework architecture, OOPs, ADO.Net,
          ASP.Net, C#.Net, Visual Studio, and Web Services in our .Net Course Syllabus. The learners can develop
          consoles, websites, web apps, and mobile apps through our Dot Net Course Syllabus and we make them prepare for
          project development of top companies. Choosing the dot net is good for one’s career as it is still updating
          its features in website and web app development. Check out the detailed scope and our .Net Course curriculum
          by contacting SLA, the best {{courseList[0].name}} Training Institute in KPK
        </p>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <app-loader></app-loader>
</ng-container>
