<footer class="relative bg-blueGray-200 pt-8 pb-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
            <div class="w-full lg:w-6/12 px-4">
                <h4 class="text-3xl fonat-semibold text-blueGray-700">
                    Let's keep in touch!
                </h4>
                <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
                    Find us on any of these platforms, we respond 1-2 business days.
                </h5>
                <div class="mt-6 lg:mb-0 mb-6">
                    <button
                        class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fa fa-twitter" aria-hidden="true"></i></button><button
                        class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </button>
                    <button
                        class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
                <div class="flex flex-wrap items-top mb-6">
                 
                    <div class="w-full lg:w-6/12 px-4">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">
                            Location</span>
                        <ul class="list-unstyled">
                            <iframe class="map"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.0975247853603!2d67.0321229153761!3d24.82633825273767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33dc64c7dcd5b%3A0x89de9a8f825dbb71!2sQVISE!5e0!3m2!1sen!2s!4v1605686215358!5m2!1sen!2s"
                                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>

                        </ul>
                    </div>
                    <div class="w-full lg:w-4/12 px-4 ml-auto">
                        <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Useful Links</span>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Courses</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"><i
                                        class="fa fa-angle-right" aria-hidden="true"></i> Faculty</a>
                            </li>
                            <li>
                                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"><i
                                        class="fa fa-angle-right" aria-hidden="true"></i> Register</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-blueGray-300" />
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4 mx-auto text-center">
                <div class="text-sm text-blueGray-500 font-semibold py-1">
                    <p>
                        Copyright © <span id="get-current-year">2022 - 2023</span><a
                            class="text-blueGray-500 hover:text-blueGray-800">
                            Enlightened Academy, Powered by Enlightened Technologies -
                        </a>
                        <a class="text-blueGray-500 hover:text-blueGray-800">
                            Terms od Use | Privacy Statement </a>.
                    </p>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
</footer>