<div class="container-fluid">
  <mat-toolbar [class]="this.scrollY ? 'navigation-bar active' : 'navigation-bar'" color="primary">
    <div class="title" routerLink="">
      <img src="assets/logo_transparent.png" alt="Enlightened Academy logo" class="logo" />
      <h6>Enlightened</h6>
    </div>

    <ul class="nav-links" [class.open]="isMenuOpen && (isHandset$ | async)">
      <li>
        <a class="hover:text-gray-200" routerLink="/web/home">Home</a>
      </li>
      <li><a class="hover:text-gray-200 cursor-pointer">About</a></li>
      <li><a class="hover:text-gray-200 cursor-pointer" routerLink="/web/courses">Courses</a></li>
      <li><a class="hover:text-gray-200 cursor-pointer" routerLink="/web/faculty">Faculty</a></li>
      <li>
        <a class="hover:text-gray-200 cursor-pointer">Register</a>
      </li>
    </ul>
    <button class="menu-toggle" mat-icon-button (click)="toggleMenu()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Menu toggle icon">{{
        isMenuOpen ? "close" : "menu"
        }}</mat-icon>
    </button>
  </mat-toolbar>
</div>