<div class="stepper-container">
      <!-- <div class="form-container">
        <form [formGroup]="courseForm" (submit)="submitForm()">
          <div class="list-group-item">
            <div class="form-row">
              <mat-form-field class="border-#a0ce4e" appearance="outline">
                <input placeholder="First Name" matInput type="text" formControlName="name" required name="name" />
              </mat-form-field>
              <mat-form-field class="border-#a0ce4e" appearance="outline">
                <input placeholder="First Name" matInput type="text" formControlName="description" required
                  name="description" />
              </mat-form-field>
              <mat-form-field class="border-#a0ce4e" appearance="outline">
                <input placeholder="First Name" matInput type="text" formControlName="fee" required name="fee" />
              </mat-form-field>
              <mat-form-field class="border-#a0ce4e" appearance="outline">
                <input placeholder="First Name" matInput type="text" formControlName="imageUrl" required
                  name="imageUrl" />
              </mat-form-field>

            </div>

          </div>
        </form>
      </div>
      <div class="card-action space-x-2">
        <button matStepperNext class="rounded-full rounded-full custom-btn">
          Next
        </button>
      </div> -->


  </div>
<div class="container">
  <div class="stepper-container">
    <div class="form-container">
      <form [formGroup]="courseForm" (submit)="submitForm()">
        <div class="list-group-item">
          <div class="form-row">
            <mat-form-field class="border-#a0ce4e" appearance="outline">
              <input placeholder="Name" matInput type="text" formControlName="name" required name="name" />
            </mat-form-field>
            <mat-form-field class="border-#a0ce4e" appearance="outline">
              <input placeholder="Description" matInput type="text" formControlName="description" required
                name="description" />
            </mat-form-field>
            <mat-form-field class="border-#a0ce4e" appearance="outline">
              <input placeholder="fee" matInput type="text" formControlName="fee" required name="fee" />
            </mat-form-field>
            <mat-form-field class="border-#a0ce4e" appearance="outline">
              <input placeholder="fee" matInput type="text" formControlName="imageUrl" required name="fee" />

            </mat-form-field>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">

          </div>

        </div>
        <div class="card-action space-x-2">
          <button type="submit" class="rounded-full rounded-full custom-btn">
            Submit
          </button>
        </div>
      </form>
     
    </div>
  </div>
</div>
<div *ngFor="let imagePath of uploadedImages">
  <img [src]="imagePath" alt="Uploaded Image">
</div>
<ng-container *ngIf="isLoading">
  <app-loader></app-loader>
</ng-container>