/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~bootstrap/dist/css/bootstrap.css";
@import "./my-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
}
:root {
  --background-color: #302a77;
  --white: #ffffff;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.heading-row {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.heading-row h3 {
  color: var(--background-color);
}

.mat-mdc-text-field-wrapper {
  height: 60px !important;

}

@media only screen and (max-width: 720px) {
  .heading {
    font-size: 26px;
  }
}
.custom-blue {
  background-color: var(--background-color);
}
.custom-btn-bg {
  color: var(--background-color);
  background-color: white;
  padding: 8px 12px;
}
.custom-btn {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: white;
  background-color: var(--background-color);
  padding: 6px 16px;
}
.fa {
  margin: 0 2px 0;
}
@media only screen and (max-width: 480px) {
  .custom-btn-bg, .custom-btn-bg {
    font-size: 16px;
  }
}