<div class="container-fluid">
  <div class="heading-row">
    <h3 class="text-3xl font-semibold sm:text-5xl text-center">Faculty</h3>
  </div>
  <div class="faculty-container">
    <div class="faculty" *ngFor="let faculty of facultyList" [routerLink]="['detail',faculty?.id]">
      <div class="faculty-column">
        <div class="faculty-image">
          <img src="../../../assets/Matthew_2_listing.jpg" alt="Professor Jamal Akhtar">
        </div>
        <div class="faculty-content">
          <h3>{{faculty.name}}</h3>
          <h5>{{faculty.designation}}</h5>
          <p>{{faculty.description}}.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isLoading">
  <app-loader></app-loader>
</ng-container>
